body {
font-family: 'Muli';
font-size: 140%;
}
h1, h2 {
font-family: 'Garamond';
font-weight: normal;
margin-top: 10px;
margin-bottom: 10px;
}
.remark-slide-content h1 {
font-size: 70px;
text-align: center;
}
.remark-slide-content p, .remark-slide-content li {
font-size:30px;
line-height: 1.4;
}
.remark-code {
font-size:30px;
}
.remark-slide-content p {
    margin: 5px;
}
.remark-slide-container .spacious p,
.remark-slide-container .spacious li{
    margin-bottom: 50px;
    margin-top: 50px;
}
.remark-slide-container .spacious h1{
    margin-bottom: 50px;
}
.remark-slide-container .some-space p,
.remark-slide-container .some-space li,
.remark-slide-container .some-space h1{
    margin-bottom: 30px;
}
.reset-column {
    overflow: auto;
    width: 100%;
}
.remark-slide-container .compact p, .remark-slide-container .compact li, .remark-slide-container .compact pre{
line-height: 1.1;
margin: 0px 0;
}
.remark-slide-container .compact .MathJax_Display{
    line-height: 1.1;
    margin: 1px 0;
    }
.remark-slide-container .compact h1{
margin-bottom: 3px;
}
.padding-top {
    padding-top: 100px;
}
.remark-slide-content .smaller p, .remark-slide-content .smaller p .MathJax, .remark-slide-content .smaller li,
.remark-slide-content .smaller .remark-code,  .smaller .remark-code-line,.remark-slide-content .smaller a,
 .remark-slide-content .smaller .dataframe{
    font-size: 25px;
}

.remark-slide-content .smallest p, .remark-slide-content .smallest .MathJax, .remark-slide-content .smallest li, .remark-slide-content .smallest .remark-code,
.smallest .remark-code-line, .remark-slide-content .smallest .dataframe, .remark-slide-content  span.smallest{
font-size: 20px;
}
.remark-slide-content .tiny p, .remark-slide-content .tiny li, .remark-slide-content .tiny .remark-code,
.tiny .remark-code-line, .remark-slide-content .tiny .dataframe{
font-size: 16px;
}
.normal {
    font-size: 30px;
}
.quote_author {
    display: block;
    text-align: right;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Garamond';
}
.larger, .larger .remark-code {
    font-size: 40px;
}
.largest, .largest .remark-code {
    font-size: 50px;
}
.left-column, .right-column {
    width: 48%;
}
.right-column{
    float: right;
}
.left-column{
    float: left;
}
.clear-column{
    clear: both;
}
.narrow-right-column {
    float: right;
    width: 32%
}
.wide-left-column {
    float: left;
    width: 65%
}
.narrow-left-column {
    float: left;
    width: 32%
}
.wide-right-column {
    float: right;
    width: 65%
}

.invisible {
    visibility: hidden
}
.tiny-code .remark-code, .remark-inline-code .tiny-code{
font-size: 15px;
}
.remark-code, .remark-inline-code  { font-family: 'Ubuntu Mono';}
.hljs.remark-code {background: #e0e0e0}

/* Some additional styling taken form the Jupyter notebook CSS */
table.dataframe {
border: none;
border-collapse: collapse;
border-spacing: 0;
color: black;
table-layout: fixed;
}
table.dataframe thead {
border-bottom: 1px solid black;
vertical-align: bottom;
}
table.dataframe tr,
table.dataframe th,
table.dataframe td {
text-align: right;
vertical-align: middle;
padding: 0.5em 0.5em;
line-height: normal;
white-space: normal;
max-width: none;
border: none;
}
table.dataframe th {
font-weight: bold;
}
table.dataframe tbody tr:nth-child(odd) {
background: #f5f5f5;
}
table.dataframe tbody tr:hover {
background: rgba(66, 165, 245, 0.2);
}